### 90803 Data Cleaning and Question Definition
### Data Cleaning: COVID-19 Datasets

**Team 14**

Chi-Shiun Tsai & Colton Lapp

This notebook is used for cleaning the COVID-19 datasets from the NYTimes.

### 0. Impoting libraries

In [13]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

### 1. Reading datasets

In [15]:
covid_20 = pd.read_csv('../data/COVID-19 Cases/us-counties-2020.csv', dtype={'fips': str})
covid_21 = pd.read_csv('../data/COVID-19 Cases/us-counties-2021.csv', dtype={'fips': str})
covid_22 = pd.read_csv('../data/COVID-19 Cases/us-counties-2022.csv', dtype={'fips': str})
covid_23 = pd.read_csv('../data/COVID-19 Cases/us-counties-2023.csv', dtype={'fips': str})

          version https://git-lfs.github.com/spec/v1
0  oid sha256:fd98d6c3a062c9e7f0ed10bc7d249601e0b...
1                                      size 35871900

We want to focus on the aggregated year level. Therefore, we want to keep only the number of cumulative cases and deaths for each year.

In [3]:
def keep_last(df):
    df['date'] = pd.to_datetime(df['date'])
    df.sort_values('date', inplace=True, ascending=False)
    df = df.groupby(by=['county', 'state', 'fips'], as_index=False).first()
    df['year'] = df['date'].dt.year
    df.drop(columns=['date'], inplace=True)
    return df

covid_20 = keep_last(covid_20)
covid_21 = keep_last(covid_21)
covid_22 = keep_last(covid_22)
covid_23 = keep_last(covid_23)

In [4]:
# Concatenate the dataframes
covid = pd.concat([covid_20, covid_21, covid_22, covid_23], axis=0, ignore_index=True)
covid

          county           state   fips  cases  deaths  year
0      Abbeville  South Carolina  45001   1275    25.0  2020
1         Acadia       Louisiana  22001   5082   153.0  2020
2       Accomack        Virginia  51001   1698    27.0  2020
3            Ada           Idaho  16001  38417   355.0  2020
4          Adair            Iowa  19001    606    17.0  2020
...          ...             ...    ...    ...     ...   ...
12871       Yuma         Arizona  04027  71397  1259.0  2023
12872       Yuma        Colorado  08125   2349    27.0  2023
12873     Zapata           Texas  48505   4411    57.0  2023
12874     Zavala           Texas  48507   4386    70.0  2023
12875    Ziebach    South Dakota  46137    720    13.0  2023

[12876 rows x 6 columns]

### 2. Data cleaning

In [5]:
# Check for missing values
covid.isnull().sum(axis=0)

county      0
state       0
fips        0
cases       0
deaths    312
year        0
dtype: int64

In [6]:
covid[covid['deaths'].isnull()]['state'].unique()

array(['Puerto Rico'], dtype=object)

In this dataset, Puerto Rico does not record number of deaths. We can drop Puerto Rico since we will focus on the contiguous United States.

In [7]:
covid.drop(covid[covid['deaths'].isnull()].index, inplace=True)
covid.isnull().sum(axis=0)

county    0
state     0
fips      0
cases     0
deaths    0
year      0
dtype: int64

### 3. Export "cleaned" dataset

In [8]:
covid.to_csv('../data/data_cleaned/covid.csv', index=False)

### References

* Data source: https://github.com/nytimes/covid-19-data
* https://pandas.pydata.org/docs/reference/api/pandas.isnull.html