# Merge all data (ACS, crime, covid) together

In [1]:
#import modules 
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import geopandas as gpd
from census import Census
from us import states
import numpy as np
import os
import seaborn as sns
import us
import re

# Read in all cleaned datsets

In [11]:
base_dir = os.getcwd().split('/')
base_dir = '/'.join(base_dir[0:-1])


ACS_data = pd.read_csv( base_dir + '/data/data_cleaned/ACS_5yr_data.csv')
covid_data = pd.read_csv( base_dir + '/data/data_cleaned/covid_cities.csv')
crime_data = pd.read_csv( base_dir + '/data/data_cleaned/crime_cities.csv')

print("Shape of city data: ", ACS_data.shape)
print("Shape of covid data: ", covid_data.shape)
print("Shape of crime data: ", crime_data.shape)

Shape of city data:  (19729, 63)
Shape of covid data:  (29357, 5)
Shape of crime data:  (4240, 7)

/var/folders/k2/ymjz51wj2yz3pc04926pvy6c0000gn/T/ipykernel_41931/2954693473.py:5: DtypeWarning: Columns (53) have mixed types. Specify dtype option on import or set low_memory=False.
  ACS_data = pd.read_csv( base_dir + '/data/data_cleaned/ACS_5yr_data.csv')

In [31]:
#Merge all to ACS data
data_merged = ACS_data.merge(covid_data.drop('NAMELSAD', axis=1), on='GEOID', how='left')
data_merged = data_merged.merge(crime_data.drop(['STATEFP', 'PLACEFP', 'NAMELSAD', 'City'], axis=1), on='GEOID', how='left')

In [33]:
data_merged.info()
data_merged.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19758 entries, 0 to 19757
Data columns (total 68 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Name                                                       19758 non-null  object
 1   Population 2020                                            19758 non-null  int64
 2   Median Household Income                                    19758 non-null  float64
 3   Aggregate Household Income                                 19683 non-null  float64
 4   Median Home Value                                          19758 non-null  float64
 5   Median Gross Rent                                          19758 non-null  float64
 6   Renter Household                                           19758 non-null  float64
 7   Total Housing Units                                        19758 non-null  float64
 8   Race: White Alone                                          19758 non-null  float64
 9   Hispanic or Latino                                         19758 non-null  float64
 10  Population Age 25 or Older: Bachelor`s Degree              19758 non-null  float64
 11  Population Age 25 or Older: Doctorate Degree               19758 non-null  float64
 12  Pop 5-17 Speak only English at Home                        19758 non-null  float64
 13  Population Age 15 or Older Never Married                   19758 non-null  float64
 14  Population Age 15 or Older Never Married 2                 19758 non-null  float64
 15  Population Age 65 or more                                  19758 non-null  float64
 16  Pop 65 or more Living in Nonfamily Households              19758 non-null  float64
 17  Females 20-64 w Own Children 0-17                          19758 non-null  float64
 18  Workers Age 16 or more                                     19758 non-null  float64
 19  Workers 16 or more who Took Public Transportation to work  19758 non-null  float64
 20  Workers 16 or more who Worked at Home                      19758 non-null  float64
 21  Workers 16 or more who Drove Alone to Work                 19758 non-null  float64
 22  Employed in Professional/Scientific/Technical Services     19758 non-null  float64
 23  Employed in Professional/Scientific/Technical Services 2   19758 non-null  float64
 24  Employed in Accommodation/Food Services                    19758 non-null  float64
 25  Employed in Accommodation/Food Services 2                  19758 non-null  float64
 26  Employed in Health Care/Social Assistance                  19758 non-null  float64
 27  Employed in Health Care/Social Assistance 2                19758 non-null  float64
 28  Employed in Arts/Entertainment/Recreation                  19758 non-null  float64
 29  Employed in Arts/Entertainment/Recreation 2                19758 non-null  float64
 30  Male 16+: Private For-Profit Self-Emp Inc Bus              19758 non-null  float64
 31  Male 16+: Private Not-For-Profit Worker                    19758 non-null  float64
 32  Civilian Population 18+: Veteran                           19758 non-null  float64
 33  Population 35-64: Medicaid Coverage Only                   19758 non-null  float64
 34  Population 35-64: No Health Insurance Coverage             19758 non-null  float64
 35  Households with No Internet Acces                          19758 non-null  float64
 36  Households Receiving Food Stamps/SNAP                      19758 non-null  float64
 37  Households Below the Poverty Leve                          19758 non-null  float64
 38  Gross Rent 50% + of Household Income                       19758 non-null  float64
 39  Owner Households by Year Moved In: 2017 or Later           19758 non-null  float64
 40  Total Vacant Housing Units                                 19758 non-null  float64
 41  Housing Units Built in 2014 or Later                       19758 non-null  float64
 42  Aggregate Commute to Work in Minutes                       9015 non-null   float64
 43  state                                                      19758 non-null  int64
 44  place                                                      19758 non-null  int64
 45  GEOID                                                      19758 non-null  int64
 46  Population 2019                                            19758 non-null  int64
 47  Pop Chng %                                                 19758 non-null  float64
 48  STATEFP                                                    19758 non-null  int64
 49  PLACEFP                                                    19758 non-null  int64
 50  PLACENS                                                    19758 non-null  int64
 51  NAME                                                       19758 non-null  object
 52  NAMELSAD                                                   19758 non-null  object
 53  LSAD                                                       19758 non-null  object
 54  CLASSFP                                                    19758 non-null  object
 55  PCICBSA                                                    19758 non-null  object
 56  PCINECTA                                                   19758 non-null  object
 57  MTFCC                                                      19758 non-null  object
 58  FUNCSTAT                                                   19758 non-null  object
 59  ALAND                                                      19758 non-null  int64
 60  AWATER                                                     19758 non-null  int64
 61  INTPTLAT                                                   19758 non-null  float64
 62  INTPTLON                                                   19758 non-null  float64
 63  year                                                       19495 non-null  float64
 64  cases_per_100K                                             19495 non-null  float64
 65  deaths_per_100K                                            19495 non-null  float64
 66  State Name                                                 3985 non-null   object
 67  TotalOffenses                                              3985 non-null   float64
dtypes: float64(48), int64(10), object(10)
memory usage: 10.4+ MB

,Name,Population 2020,Median Household Income,Aggregate Household Income,Median Home Value,Median Gross Rent,Renter Household,Total Housing Units,Race: White Alone,Hispanic or Latino,Population Age 25 or Older: Bachelor`s Degree,Population Age 25 or Older: Doctorate Degree,Pop 5-17 Speak only English at Home,Population Age 15 or Older Never Married,Population Age 15 or Older Never Married 2,Population Age 65 or more,Pop 65 or more Living in Nonfamily Households,Females 20-64 w Own Children 0-17,Workers Age 16 or more,Workers 16 or more who Took Public Transportation to work,Workers 16 or more who Worked at Home,Workers 16 or more who Drove Alone to Work,Employed in Professional/Scientific/Technical Services,Employed in Professional/Scientific/Technical Services 2,Employed in Accommodation/Food Services,Employed in Accommodation/Food Services 2,Employed in Health Care/Social Assistance,Employed in Health Care/Social Assistance 2,Employed in Arts/Entertainment/Recreation,Employed in Arts/Entertainment/Recreation 2,Male 16+: Private For-Profit Self-Emp Inc Bus,Male 16+: Private Not-For-Profit Worker,Civilian Population 18+: Veteran,Population 35-64: Medicaid Coverage Only,Population 35-64: No Health Insurance Coverage,Households with No Internet Acces,Households Receiving Food Stamps/SNAP,Households Below the Poverty Leve,Gross Rent 50% + of Household Income,Owner Households by Year Moved In: 2017 or Later,Total Vacant Housing Units,Housing Units Built in 2014 or Later,Aggregate Commute to Work in Minutes,state,place,GEOID,Population 2019,Pop Chng %,STATEFP,PLACEFP,PLACENS,NAME,NAMELSAD,LSAD,CLASSFP,PCICBSA,PCINECTA,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,year,cases_per_100K,deaths_per_100K,State Name,TotalOffenses
0,"New York city, New York",8379552,67046.0,3.415107e+11,635200.0,1489.0,2143429.0,42.002186,41.330205,28.925997,16.000569,1.125072,7.664813,17.610035,18.069295,14.947255,4.979001,1.908419,46.830821,24.736883,3.465794,10.448387,2.624675,2.223568,2.159578,1.371780,2.085589,6.622597,0.738142,0.664868,1.143271,1.902047,1.705306,8.383276,3.427486,5.030627,7.244218,6.556830,6.763679,0.208245,3.913145,0.719466,1797.125729,36,51000,3651000,8419316,-0.472295,36,51000,2395220,New York,New York city,25,C1,Y,N,G4110,A,777982727,434642000,40.663468,-73.938697,2020.0,5913.616647,220.640533,NaN,NaN
1,"Los Angeles city, California",3973278,65290.0,1.416629e+11,670700.0,1523.0,884176.0,38.099297,48.930480,48.066307,16.225771,1.007329,5.683670,19.986897,17.982834,12.855557,3.889962,1.788574,49.252959,4.056122,4.517605,33.341664,2.577569,2.126179,2.419916,1.868382,1.689336,4.408904,1.174219,0.911892,1.660996,1.278365,2.068393,7.988391,5.480588,3.824172,3.640193,5.838303,6.734288,0.256715,2.800433,0.887101,1427.602096,6,44000,644000,3966936,0.159871,6,44000,2410877,Los Angeles,Los Angeles city,25,C1,Y,N,G4110,A,1214591312,87468461,34.019394,-118.410825,2020.0,6178.068445,67.066531,NaN,NaN
2,"Chicago city, Illinois",2699347,62097.0,1.024203e+11,267600.0,1154.0,590848.0,45.110392,47.731581,28.628813,16.758127,1.200438,8.816058,20.245897,19.983537,12.676177,4.820647,1.800250,49.382610,12.919050,4.194570,23.775417,3.310097,2.820089,2.189604,1.814624,1.710969,5.295207,0.600442,0.599256,1.064406,2.110918,2.475895,5.359926,4.764597,5.445095,7.012289,6.614933,5.035996,0.455777,5.058372,0.868655,1569.642399,17,14000,1714000,2709534,-0.375969,17,14000,428803,Chicago,Chicago city,25,C5,Y,N,G4110,A,588881854,17621529,41.837551,-87.681844,2020.0,7499.869841,133.847542,NaN,NaN
3,"Houston city, Texas",2313238,53600.0,7.545269e+10,186800.0,1086.0,499608.0,42.481318,51.539271,44.471948,13.576078,1.126473,8.046470,17.088946,15.180669,10.985813,3.587785,2.314159,47.686144,1.748501,2.939646,36.207040,2.366985,1.720013,1.842007,2.062477,1.254735,4.153399,0.378431,0.348645,0.958916,1.097639,2.983826,2.628869,10.073672,5.207333,5.392571,6.563527,5.208932,0.410939,4.663031,2.628869,1235.583196,48,35000,4835000,2310432,0.121449,48,35000,2410796,Houston,Houston city,25,C1,Y,N,G4110,A,1658093679,81248080,29.785743,-95.388806,2020.0,4991.616106,57.677759,Texas,227553.0
4,"Phoenix city, Arizona",1658422,60914.0,4.967710e+10,250800.0,1100.0,258077.0,37.805637,68.233176,42.647046,11.954557,0.754512,11.002447,16.492967,14.118542,10.974408,3.490125,2.569792,48.881527,1.325778,4.060667,35.624769,1.963855,1.624134,1.969161,2.244965,1.542611,4.488303,0.533580,0.391517,1.144582,1.225804,4.415402,5.078864,6.408743,3.939890,4.255793,4.791905,3.291020,0.706636,2.782283,1.114433,1176.303438,4,55000,455000,1633017,1.555709,4,55000,2411414,Phoenix,Phoenix city,25,C1,Y,N,G4110,A,1340766401,3236736,33.572154,-112.090132,2020.0,7307.164034,116.139965,NaN,NaN

# Drop Rows with missing observations

In [39]:
data_complete = data_merged.dropna()
print("Number of observations: ", data_complete.shape )
data_complete.head()

Number of observations:  (2652, 68)

,Name,Population 2020,Median Household Income,Aggregate Household Income,Median Home Value,Median Gross Rent,Renter Household,Total Housing Units,Race: White Alone,Hispanic or Latino,Population Age 25 or Older: Bachelor`s Degree,Population Age 25 or Older: Doctorate Degree,Pop 5-17 Speak only English at Home,Population Age 15 or Older Never Married,Population Age 15 or Older Never Married 2,Population Age 65 or more,Pop 65 or more Living in Nonfamily Households,Females 20-64 w Own Children 0-17,Workers Age 16 or more,Workers 16 or more who Took Public Transportation to work,Workers 16 or more who Worked at Home,Workers 16 or more who Drove Alone to Work,Employed in Professional/Scientific/Technical Services,Employed in Professional/Scientific/Technical Services 2,Employed in Accommodation/Food Services,Employed in Accommodation/Food Services 2,Employed in Health Care/Social Assistance,Employed in Health Care/Social Assistance 2,Employed in Arts/Entertainment/Recreation,Employed in Arts/Entertainment/Recreation 2,Male 16+: Private For-Profit Self-Emp Inc Bus,Male 16+: Private Not-For-Profit Worker,Civilian Population 18+: Veteran,Population 35-64: Medicaid Coverage Only,Population 35-64: No Health Insurance Coverage,Households with No Internet Acces,Households Receiving Food Stamps/SNAP,Households Below the Poverty Leve,Gross Rent 50% + of Household Income,Owner Households by Year Moved In: 2017 or Later,Total Vacant Housing Units,Housing Units Built in 2014 or Later,Aggregate Commute to Work in Minutes,state,place,GEOID,Population 2019,Pop Chng %,STATEFP,PLACEFP,PLACENS,NAME,NAMELSAD,LSAD,CLASSFP,PCICBSA,PCINECTA,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,year,cases_per_100K,deaths_per_100K,State Name,TotalOffenses
3,"Houston city, Texas",2313238,53600.0,7.545269e+10,186800.0,1086.0,499608.0,42.481318,51.539271,44.471948,13.576078,1.126473,8.046470,17.088946,15.180669,10.985813,3.587785,2.314159,47.686144,1.748501,2.939646,36.207040,2.366985,1.720013,1.842007,2.062477,1.254735,4.153399,0.378431,0.348645,0.958916,1.097639,2.983826,2.628869,10.073672,5.207333,5.392571,6.563527,5.208932,0.410939,4.663031,2.628869,1235.583196,48,35000,4835000,2310432,0.121449,48,35000,2410796,Houston,Houston city,25,C1,Y,N,G4110,A,1658093679,81248080,29.785743,-95.388806,2020.0,4991.616106,57.677759,Texas,227553.0
8,"Dallas city, Texas",1338846,54747.0,4.615509e+10,208700.0,1111.0,307837.0,43.469301,57.749136,41.483860,14.159806,0.801735,8.118634,17.370332,15.713906,10.613543,3.539167,2.450020,49.980431,1.668377,3.772054,37.160360,2.771342,2.130193,1.854582,2.168360,1.464022,4.262402,0.419989,0.383091,1.094375,1.109911,3.174450,2.022488,9.829659,6.053422,4.678507,6.131026,4.569980,0.464654,4.293922,2.263442,1243.563860,48,19000,4819000,1330612,0.618813,48,19000,2410288,Dallas,Dallas city,25,C1,Y,N,G4110,A,879911395,115783461,32.793333,-96.766513,2020.0,6006.289751,59.002442,Texas,101379.0
10,"Austin city, Texas",965872,75752.0,4.178473e+10,358600.0,1346.0,215383.0,44.198300,69.392528,33.298512,23.147995,1.750335,8.986180,19.799518,16.116214,9.424955,3.042432,1.881409,57.292374,1.667302,7.648943,40.188762,5.507459,3.536286,2.347723,2.153080,1.351007,4.230685,0.733741,0.624513,1.451124,1.320465,3.611141,1.597727,5.216840,2.877503,2.767137,4.584148,4.693997,0.641596,3.273622,3.965432,1220.348038,48,5000,4805000,950807,1.584444,48,5000,2409761,Austin,Austin city,25,C1,Y,N,G4110,A,828637538,17024681,30.301157,-97.752695,2020.0,4435.096127,47.267247,Texas,79099.0
12,"Fort Worth city, Texas",892221,64567.0,2.604506e+10,190400.0,1115.0,132255.0,37.711285,60.058438,35.089625,12.539494,0.691645,12.882907,14.282896,13.307241,9.895082,2.885048,2.891100,47.904387,0.323350,3.110664,37.872904,1.499180,1.149715,1.619890,2.046354,1.174261,4.401264,0.340611,0.308556,0.850462,1.113962,4.835573,1.648358,7.946686,3.300528,4.404290,4.352733,3.350067,0.726502,3.274973,2.695521,1229.841037,48,27000,4827000,874401,2.037967,48,27000,2410531,Fort Worth,Fort Worth city,25,C1,Y,N,G4110,A,895059305,21698317,32.781518,-97.346746,2020.0,6378.978960,76.074205,Texas,52949.0
15,"Charlotte city, North Carolina",873570,65359.0,3.337727e+10,235000.0,1185.0,159931.0,42.040363,46.668727,14.572959,19.639640,0.756894,12.355621,16.585963,16.499994,10.389436,3.258354,1.993544,52.637568,1.601703,6.013828,38.213538,2.796570,2.189865,2.013233,2.124844,1.314835,4.682510,0.563779,0.517417,1.347917,1.196012,4.208592,1.784631,5.918587,3.466351,3.681331,4.114381,3.606809,0.537221,3.235803,2.860675,1195.108005,37,12000,3712000,857425,1.882964,37,12000,2404032,Charlotte,Charlotte city,25,C1,Y,N,G4110,A,795743852,5151785,35.207901,-80.830139,2020.0,5775.146257,67.112986,North Carolina,79369.0